{% extends 'base.html' %}
{% block title %} Agents {% endblock %}
{% load static %}
{% block body %}



    <section class="breadcrumb-section spad set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h4>Our Agents</h4>
                        <div class="bt-option">
                            <a href="index-2.html"><i class="fa fa-home"></i> Home</a>
                            <span>Agents</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="agent-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="agent-search-form">
                        <form action="#">
                            <input type="text" placeholder="Find agent">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="as-slider owl-carousel">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="as-item">
                            <div class="as-pic">
                                <img src="img/agents/xagent-1.jpg.pagespeed.ic.5iQBefmiYz.jpg" alt="">
                                <div class="rating-point">
                                    4.5
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>Ashton Kutcher</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <ul>
                                    <li>Property <span>215</span></li>
                                    <li>Email <span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                                       class="__cf_email__"
                                                       data-cfemail="68231d0b000d1a280f05090104460b0705">[email&#160;protected]</a></span>
                                    </li>
                                    <li>Phone <span>123-455-688</span></li>
                                </ul>
                                <a href="#" class="primary-btn">View profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="as-item">
                            <div class="as-pic">
                                <img src="img/agents/xagent-2.jpg.pagespeed.ic.-uaSlZlJMT.jpg" alt="">
                                <div class="rating-point">
                                    4.5
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>Ashton Kutcher</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <ul>
                                    <li>Property <span>215</span></li>
                                    <li>Email <span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                                       class="__cf_email__"
                                                       data-cfemail="7c37091f14190e3c1b111d1510521f1311">[email&#160;protected]</a></span>
                                    </li>
                                    <li>Phone <span>123-455-688</span></li>
                                </ul>
                                <a href="#" class="primary-btn">View profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="as-item">
                            <div class="as-pic">
                                <img src="img/agents/agent-3.jpg" alt="">
                                <div class="rating-point">
                                    4.5
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>Ashton Kutcher</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <ul>
                                    <li>Property <span>215</span></li>
                                    <li>Email <span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                                       class="__cf_email__"
                                                       data-cfemail="b4ffc1d7dcd1c6f4d3d9d5ddd89ad7dbd9">[email&#160;protected]</a></span>
                                    </li>
                                    <li>Phone <span>123-455-688</span></li>
                                </ul>
                                <a href="#" class="primary-btn">View profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="as-item">
                            <div class="as-pic">
                                <img src="img/agents/agent-4.jpg" alt="">
                                <div class="rating-point">
                                    4.5
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>Ashton Kutcher</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <ul>
                                    <li>Property <span>215</span></li>
                                    <li>Email <span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                                       class="__cf_email__"
                                                       data-cfemail="733806101b160133141e121a1f5d101c1e">[email&#160;protected]</a></span>
                                    </li>
                                    <li>Phone <span>123-455-688</span></li>
                                </ul>
                                <a href="#" class="primary-btn">View profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="as-item">
                            <div class="as-pic">
                                <img src="img/agents/agent-5.jpg" alt="">
                                <div class="rating-point">
                                    4.5
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>Ashton Kutcher</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <ul>
                                    <li>Property <span>215</span></li>
                                    <li>Email <span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                                       class="__cf_email__"
                                                       data-cfemail="f2b987919a9780b2959f939b9edc919d9f">[email&#160;protected]</a></span>
                                    </li>
                                    <li>Phone <span>123-455-688</span></li>
                                </ul>
                                <a href="#" class="primary-btn">View profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="as-item">
                            <div class="as-pic">
                                <img src="img/agents/agent-6.jpg" alt="">
                                <div class="rating-point">
                                    4.5
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>Ashton Kutcher</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <ul>
                                    <li>Property <span>215</span></li>
                                    <li>Email <span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                                       class="__cf_email__"
                                                       data-cfemail="f4bf81979c9186b49399959d98da979b99">[email&#160;protected]</a></span>
                                    </li>
                                    <li>Phone <span>123-455-688</span></li>
                                </ul>
                                <a href="#" class="primary-btn">View profile</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="as-item">
                            <div class="as-pic">
                                <img src="img/agents/xagent-1.jpg.pagespeed.ic.5iQBefmiYz.jpg" alt="">
                                <div class="rating-point">
                                    4.5
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>Ashton Kutcher</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <ul>
                                    <li>Property <span>215</span></li>
                                    <li>Email <span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                                       class="__cf_email__"
                                                       data-cfemail="6b201e08030e192b0c060a020745080406">[email&#160;protected]</a></span>
                                    </li>
                                    <li>Phone <span>123-455-688</span></li>
                                </ul>
                                <a href="#" class="primary-btn">View profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="as-item">
                            <div class="as-pic">
                                <img src="img/agents/xagent-2.jpg.pagespeed.ic.-uaSlZlJMT.jpg" alt="">
                                <div class="rating-point">
                                    4.5
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>Ashton Kutcher</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <ul>
                                    <li>Property <span>215</span></li>
                                    <li>Email <span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                                       class="__cf_email__"
                                                       data-cfemail="b3f8c6d0dbd6c1f3d4ded2dadf9dd0dcde">[email&#160;protected]</a></span>
                                    </li>
                                    <li>Phone <span>123-455-688</span></li>
                                </ul>
                                <a href="#" class="primary-btn">View profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="as-item">
                            <div class="as-pic">
                                <img src="img/agents/agent-3.jpg" alt="">
                                <div class="rating-point">
                                    4.5
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>Ashton Kutcher</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <ul>
                                    <li>Property <span>215</span></li>
                                    <li>Email <span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                                       class="__cf_email__"
                                                       data-cfemail="28635d4b404d5a684f45494144064b4745">[email&#160;protected]</a></span>
                                    </li>
                                    <li>Phone <span>123-455-688</span></li>
                                </ul>
                                <a href="#" class="primary-btn">View profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="as-item">
                            <div class="as-pic">
                                <img src="img/agents/agent-4.jpg" alt="">
                                <div class="rating-point">
                                    4.5
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>Ashton Kutcher</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <ul>
                                    <li>Property <span>215</span></li>
                                    <li>Email <span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                                       class="__cf_email__"
                                                       data-cfemail="c289b7a1aaa7b082a5afa3abaeeca1adaf">[email&#160;protected]</a></span>
                                    </li>
                                    <li>Phone <span>123-455-688</span></li>
                                </ul>
                                <a href="#" class="primary-btn">View profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="as-item">
                            <div class="as-pic">
                                <img src="img/agents/agent-5.jpg" alt="">
                                <div class="rating-point">
                                    4.5
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>Ashton Kutcher</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <ul>
                                    <li>Property <span>215</span></li>
                                    <li>Email <span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                                       class="__cf_email__"
                                                       data-cfemail="a2e9d7c1cac7d0e2c5cfc3cbce8cc1cdcf">[email&#160;protected]</a></span>
                                    </li>
                                    <li>Phone <span>123-455-688</span></li>
                                </ul>
                                <a href="#" class="primary-btn">View profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="as-item">
                            <div class="as-pic">
                                <img src="img/agents/agent-6.jpg" alt="">
                                <div class="rating-point">
                                    4.5
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>Ashton Kutcher</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <ul>
                                    <li>Property <span>215</span></li>
                                    <li>Email <span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"
                                                       class="__cf_email__"
                                                       data-cfemail="b3f8c6d0dbd6c1f3d4ded2dadf9dd0dcde">[email&#160;protected]</a></span>
                                    </li>
                                    <li>Phone <span>123-455-688</span></li>
                                </ul>
                                <a href="#" class="primary-btn">View profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}