{% extends 'base.html' %}
{% block title %} Form {% endblock %}
{% load static %}
{% block body %}


<section class="breadcrumb-section spad set-bg" data-setbg="img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h4>Tell Us Your Requirements</h4>
                    <div class="bt-option">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Property</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="property-submit-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="property-submit-form">
                    <form action="/property_submit/" method="post">
                        {% csrf_token %}
                        <div class="pf-title">
                            <h4>Applicant Name</h4>
                            <input type="text" placeholder="Your Name" name="name">
                        </div>
                        <div class="pf-title">
                            <h4>Applicant Email</h4>
                            <input type="text" placeholder="Email" name="email">
                        </div>
                        <div class="pf-title">
                            <h4>Applicant Phone No.</h4>
                            <input type="text" placeholder="Phone No." name="phone">
                        </div>
                       <div class="w-100">
                           <h4>Detail what you want to build?</h4>
                    <textarea name="msg" id="" " rows="10" class="detail-textarea" placeholder="Hello. Share us your Details""></textarea>
                       </div>
                        <div class="pf-location">
                            <h4>Applicant Address</h4>
                            <div class="location-inputs">
                                <input name="address" type="text" placeholder="Address">
                                <input name="neighbour" type="text" placeholder="Neighborhood">
                                <input name="city" type="text" placeholder="City">
                                <input name="state" type="text" placeholder="State">
                                <input name="country" type="text" placeholder="Country">
                                <input name="postal" type="text" placeholder="Posta Code / Zip">
                            </div>
                        </div>

                        <div class="pf-type">
                            <h4>Property type you want to build</h4>
                            <div class="type-item">
                                <label for="pt-apart">Apartment
                                    <input name="appartment" value="True" type="checkbox" id="pt-apart">
                                    <span class="checkbox"></span>
                                </label>
                                <label for="pt-house">House
                                    <input name="house" type="checkbox" id="pt-house">
                                    <span class="checkbox"></span>
                                </label>
                                <label for="pt-off">Office
                                    <input name="office" type="checkbox" id="pt-off">
                                    <span class="checkbox"></span>
                                </label>
{#                                <label for="pt-villa">Villa#}
{#                                    <input name="villa" type="checkbox" id="pt-villa">#}
{#                                    <span class="checkbox"></span>#}
{#                                </label>#}
                                <label for="pt-store">Store
                                    <input name="store" type="checkbox" id="pt-store">
                                    <span class="checkbox"></span>
                                </label>
{#                                <label for="pt-rest">Restaurent#}
{#                                    <input name="restaurent" type="checkbox" id="pt-rest">#}
{#                                    <span class="checkbox"></span>#}
{#                                </label>#}
                            </div>
                        </div>
                        <div class="pf-status">
                            <h4>Land status</h4>
                            <div class="status-item">
                                <label for="ps-rent">From Client
                                    <input name="from_client" type="checkbox" id="ps-rent">
                                    <span class="checkbox"></span>
                                </label>
                                <label for="ps-sale">From BunduKhan
                                    <input name="from_bundukhan" type="checkbox" id="ps-sale">
                                    <span class="checkbox"></span>
                                </label>
                            </div>
                        </div>
                        <div class="pf-feature-price">
                            <h4>Budget</h4>
                            <div class="fp-inputs">
                                <input name="price" type="text" placeholder="Price">
{#                                <input type="text" placeholder="Second Price ( Optional )">#}
{#                                <input type="text" placeholder="After Price Label (ex: monthly)">#}
                            </div>
                        </div>
                        <div class="pf-feature">
                            <h4>Feature's You want? (Optional)</h4>
                            <div class="features-list">
{#                                <div class="feature-item">#}
{#                                    <label for="air">Air conditioning#}
{#                                        <input name="AC" type="checkbox" id="air">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
{#                                    <label for="lundry">Laundry#}
{#                                        <input name="laundry" type="checkbox" id="lundry">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
{#                                    <label for="refrigerator">Refrigerator#}
{#                                        <input name="fridge" type="checkbox" id="refrigerator">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
{#                                    <label for="washer">Washer#}
{#                                        <input name="washer" type="checkbox" id="washer">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
{#                                </div>#}
{#                                <div class="feature-item">#}
{#                                    <label for="barbeque">Barbeque#}
{#                                        <input name="barbeque" type="checkbox" id="barbeque">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
{#                                    <label for="lawn">Lawn#}
{#                                        <input name="lawn" type="checkbox" id="lawn">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
{#                                    <label for="sauna">Sauna#}
{#                                        <input name="sauna" type="checkbox" id="sauna">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
{#                                    <label for="wifi">Wifi#}
{#                                        <input name="wifi" type="checkbox" id="wifi">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
{#                                </div>#}
                                <div class="feature-item">
{#                                    <label for="dryer">Dryer#}
{#                                        <input name="dryer" type="checkbox" id="dryer">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
{#                                    <label for="microwave">Microwave#}
{#                                        <input name="microwave" type="checkbox" id="microwave">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
                                    <label for="pool">Swimming Pool
                                        <input name="pool" type="checkbox" id="pool">
                                        <span class="checkbox"></span>
                                    </label>
{#                                    <label for="window">Window Coverings#}
{#                                        <input name="window" type="checkbox" id="window">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
                                </div>
                                <div class="feature-item">
                                    <label for="gym">Gym
                                        <input name="gym" type="checkbox" id="gym">
                                        <span class="checkbox"></span>
                                    </label>
{#                                    <label for="shower">OutdoorShower#}
{#                                        <input  name="shower" type="checkbox" id="shower">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
{#                                    <label for="tv">Tv Cable#}
{#                                        <input name="tv" type="checkbox" id="tv">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
{#                                    <label for="villa">Villa#}
{#                                        <input name="villa" type="checkbox" id="villa">#}
{#                                        <span class="checkbox"></span>#}
{#                                    </label>#}
                                </div>
                            </div>
                        </div>
                        <div class="pf-feature-image">
                            <h4>Any floor plan (If you have)</h4>
                            <div class="feature-image-content"></div>
                        </div>
                        <div class="pf-property-details">
{#                            <h4>Property details</h4>#}
{#                            <div class="property-details-inputs">#}
{#                                <input type="text" placeholder="Property ID">#}
{#                                <input type="text" placeholder="Area Size ( Only digits )">#}
{#                                <input type="text" placeholder="Size Prefix">#}
{#                                <input type="text" placeholder="Bedrooms">#}
{#                                <input type="text" placeholder="Bathrooms">#}
{#                                <input type="text" placeholder="Garages">#}
{#                                <input type="text" placeholder="Garages Size">#}
{#                                <input type="text" placeholder="Year Built">#}
{#                                <input type="text" placeholder="Virtual Tour Video URL">#}
{#                            </div>#}
                            <button type="submit" class="site-btn">Submit Property</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}